h3 {
  color: red;
  font-weight: 400;
  font-size: large;
  text-align: center;
}

.notification {
  border-radius: 1%;
  background: linear-gradient(
    45deg,
    rgb(144, 222, 222),
    rgba(126, 132, 205, 0.42),
    rgba(216, 216, 92, 0.42)
  );
  max-height: auto;
}
