h3 {
  color: red;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}

img {
  cursor: pointer;
}

.notification {
  border-radius: 1%;
  background: linear-gradient(
    45deg,
    rgb(144, 222, 222),
    rgba(126, 132, 205, 0.42),
    rgba(216, 216, 92, 0.42)
  );
  max-height: auto;
}

.timer {
  color: rgb(180, 251, 215);
}

.tag {
  height: 3em !important;
  width: 7em;
}
